*{
    box-sizing: border-box;
}

.wrapper{
    margin: 0 auto;
    max-width: 500px;
    background-color: black;
    height: 500px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;

}

label{
    color: white;
}

input{
    height: 30px;
    width: 180px;
}

#convert{
    background-color: red;
    height: 35px;
    border-radius: 10px;
    color: white;
}

.ft, .inch{
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 250px
    
}

#convert{
    margin-top: 1.4rem;
    border: none;
    box-shadow: 2px 2px 3px red;
}

.result{
    margin-top: 5rem;
    color: yellow;
    font-size: 2rem;
    text-align: center;
    display: none;
}
